<div class="text-center">
  <form class="form-signin">
    <img src="/assets/images/logoCatavento.png" alt="" width="250px" height="250px">
    <h1 class="h3 mb-3 font-weight-normal">Bem vindo!</h1>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
    <label for="inputPassword" class="sr-only">Senha</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
    <button class="btn btn-lg btn-primary btn-block" [routerLink]="'/establishment'">Entrar</button>
    <!--  -->
    <div class="mb-3 mt-3">
      <label for="">Não tem conta? <a [routerLink]="'/sign-in'">Cadastre-se</a></label>
    </div>
    <p class="mt-5 mb-3 text-muted">&copy; 2023-2023</p>
  </form>
</div>
